

#logout {
    background-color: transparent;
    border-radius: 10%;
    border: solid 1px;
    font-family: 'Roboto Serif', serif;
    transition-duration: 0.4s;
    
    margin-top: 70%;
    color: gray;
   
    
}

#logout:hover {

    background-color: transparent;
    background-color: #D7E9F7;
}