nav {
    background-color: #f9f3df;
}

div.container {
    margin-left: 0%
}


#homelink  {
    margin-right: 5%;
    margin-top:3%;
    font-size: 15pt;
}

#liblink {
    margin-top:3%;
    font-size: 15pt;
    
}

a {
    color: #a5a8ac;
}

#logo {
    width: 100px;
    height: 100px;
}

